.display {
    display:flex;
    align-items:center;
    justify-content: center;
    height:100vh;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding:1%;
    border:3px solid white;
    max-width: 500px;
}
.prevSlide:active,
.nextSlide:active {
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
}
 